body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: rgb(240, 240, 240);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Proxima Nova', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	overflow: hidden;
	user-select: none;
	font-size: 16px;
}

#root {
	height: 100vh;
}

.flex-container {
	display: flex;
}
.flex-container.flex-direction-col {
	flex-direction: column;
}
.flex-container.flex-v-center {
	align-items: center;
}
.flex-container.flex-h-center {
	justify-content: center;
}
.flex-container.flex-no-wrap {
	flex-wrap: nowrap;
}
.flex-container.flex-wrap {
	flex-flow: row wrap;
}
.flex-container.justify {
	justify-content: space-around;
}
.flex-container.justify-space-between {
	justify-content: space-between;
}
.flex-container.flex-stretch {
	align-items: stretch;
}
.flex-container > .flex-expand {
	flex: 1;
}
.flex-container > .flex-pull-left {
	margin-right: auto;
	flex-basis: auto;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.flex-container > .flex-pull-right {
	margin-left: auto;
	flex-basis: auto;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.flex-container > .flex-pull-bottom {
	margin-top: auto;
}

.input-field {
	display: block;
	border: 0;
	padding: 1em;
	border-radius: 0.4em;
	outline: none;
	color: #4b4b4b;
	font-size: 16px;
}
.input-row {
	background-color: #f5f1ee;
	padding: 0.5em 2em;
}

.time {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.45);
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
}

.message {
	position: relative;
	display: inline-block;
	padding: 0.5em 4em 0.5em 0.5em;
	border-radius: 0.46875em;
	box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}
.message-row {
	margin-bottom: 0.75em;
	z-index: 1;
}
.message-in {
	background-color: #fff;
}
.message-out {
	background-color: #dcf8c6;
	float: right;
}
.message-container {
	display: flex;
	align-items: stretch;
	/*justify-content: flex-end;*/
	flex-direction: column-reverse;
	overflow-y: scroll;
	/*flex-direction: column;*/
	position: relative;
	background-color: #e5ddd5;
	flex: 1 1 0;
	padding: 1em 9%;
}
.message-tile {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.06;
	background: url(http://res.cloudinary.com/du3jhcagb/image/upload/v1522417580/whatsapp-bg.png);
}

.pointer {
	cursor: pointer;
}

.user-selection {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	padding: 8px;
}

.user-selection:hover {
	background: #dbdbd3;
}

.user-selection.active {
	background: #dbdbd3;
}

.user-selection:hover {
	background: #dbdbd3;
}

.conv-header {
	padding: 8px 0px;
}

.conv-item {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.conv-item:hover {
	background: #dbdbd3;
}

.conv-item.active {
	background: #dbdbd3;
}

.conv-header {
	padding: 8px 0px;
}

.conv-avatar {
	margin: 12px;
}

.conv-content {
	border-bottom: 1px solid #dbdbd3;
	width: 100%;
	padding: 12px 8px 12px 0px;
}

.text-muted {
	color: rgba(0, 0, 0, 0.45);
}
.text-small {
	font-size: 14px;
}

.text-smaller {
	font-size: 12px;
}

.right-panel {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
}
